* {
  font-family: sans-serif;
  box-sizing: border-box;
}
.board-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  max-width: 600px;
  grid-gap: 10px;
}
